<div id="game-characters">
  <%= form_for @game do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :power %>
    <%= f.text_field :power %>
    <%= f.submit %>
  <% end %>
</div>
